// =================================
//   COMPONENTS VARIABLES
// =================================

// Imports
@use '../../base/variables' as *;

// =========== Buttons ===============

// Shadow - Elevation
$btn-shadow-sm: 0 2px 6px;
$btn-shadow-md: 0 4px 12px;

// Shadow - Alpha levels
$btn-shadow-alpha: 0.25;
$btn-shadow-hover-alpha: 0.35;

// =========== Cards ===============

// Font size
$fs-card-title: 1.35rem;
$fs-card-subtitle: 1.1rem;
$fs-card-text: 1rem;

// Padding
$sp-card-header: 0.75rem 1.5rem;
$sp-card-body: 1rem 1.5rem;
$sp-card-footer: 0.75rem 1.5rem;

// Borders
$border-card-color: rgba(0, 0, 0, 0.125);
$border-card: 1px solid $border-card-color;
$border-card-header: $border-card;
$border-card-footer: $border-card;
